{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div>
    <form action="/" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Quote </th>
                    <th> Name </th>
                    <th> Shares </th>
                    <th> Price </th>
                    <th> Total </th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td> {{ stock["stock"] }} </td>
                    <td> {{ stock["name"] }} </td>
                    <td> {{ stock["total_shares"] }} </td>
                    <td> {{ stock["price"] | usd }} </td>
                    <td> {{ stock["value"] | usd }} </td>
                </tr>
                {% endfor %}
                <tr>
                    <th> Current Cash </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th> {{ current_cash | usd }} </th>
                </tr>
                <tr>
                    <th> Portfolio Value </th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th> {{ total_cash_portfolio | usd }} </th>
                </tr>
            </tbody>
        </table>
    </form>
</div>
{% endblock main %}
